* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	background-color: black;
	color: white;
	font-family: 'Alef', sans-serif;
	font-weight: 400;
	border-top: solid 35px #A8231E;
}

header {
	margin-bottom: 0em;
	margin-top: -0.5em;
}

.logo {
	width: 100%;
	display: block;
	overflow: hidden;
	margin-top: 1em;

}

h1 {
	color: white;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	display: block;
}

h2 {
	border-bottom: solid 2px black;
	padding-bottom: 0.5em;

}

label {
	display: block;

	cursor: pointer;
}

input,
textarea {
	font-size: 1rem;
	margin-bottom: 1em;
}

.input-text {
	padding: 0.5em 0.5em;
	margin-bottom: 1em;
	width: 100%;

	background-image: linear-gradient(to bottom, #efefef, #e2e2e2);
	border: 1px solid #ccc;

	font-size: 1rem;
}

.input-text-short {
	padding: 0.5em 0.5em;
	margin-bottom: 1em;

	background-image: linear-gradient(to bottom, #efefef, #e2e2e2);
	border: 1px solid #ccc;

	font-size: 1rem;

}

input + label {
	display: inline;
}


button {
	padding: 1em 3em;
	font-size: 1.125rem;
	font-weight: 700;
	border: 2px solid #952902;
	background-image: linear-gradient(to bottom, #A8231E, #670301);
	color: black;
	border-radius: 8px;
	cursor: pointer;
	margin: 2em 0;
}

button:hover {
	background-image: linear-gradient(to bottom, #960000, #E33535);
}

button:active {
	background-image: linear-gradient(to bottom, #760000, #C33535);
}

.error {
	display: block;
	color: #A8231E;
}

.input-error {
	border: 3px solid #A8231E;
}

ol {
	list-style: none;
	color: #fff;
	float: none;
	width: 100%
}

li {
	margin-left: -1.5em;
}

@media only screen and (min-width: 18em) {
	h1 {
		padding-right: 1.5em;
		padding-left: 1.5em;

	}

}

@media only screen and (min-width: 25em) {
	h1 {
		padding-right: 2em;
		padding-left: 2em;



	}

}

@media only screen and (min-width: 30em) {

	.logo {
		width: 120px;
	}

	header {
		width: 100%;
		background-image: url(../img/katniss.jpg);
		background-position: center center;
		display: inline-block;
		height: 400px;
	}

	html {
		margin: 0 3em;
	}

	.form-bg{
		background-color: #FFA516;
		padding: 3em;
	}
	}
@media only screen and (min-width: 36em) {
	h1 {
		line-height: 1em;
	}

	html {
		margin: 0 4em;
	}

}

@media only screen and (min-width: 55em) {
	h1 {
		font-size: 3em;

		margin-top: -1.9em;
	}

		html {
		margin: 0 10em;
	}


}

@media only screen and (min-width: 65em) {
	h1 {
		width: 75%;
		margin-top:

	}


}

